html
  head
    script.
      alert('#{clientMsg}');
  body
    h1 ALTERNATE HOME PAGE (used to show selecting alternate nodule properties at request time)
    h2 cms msg = #{cmsData.msg}    
    h2 data msg = #{myData.msg}    
